body {
    background: linear-gradient(45deg, rgb(79, 114, 88), rgb(199, 199, 199));
    height: 100vh;
    color: rgb(8, 8, 8);
    font-family: Tahoma, Geneva, sans-serif;
    font: rgba(10, 36, 10, 0.925); 
}
header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    text-align: center;
    border:rgb(119, 119, 0)
}
h1 {
    text-align: center;
}
img {
    margin: auto;   
}
p {
    color: rgb(41, 2, 2);
}
address {
    text-align: right;
    padding: 10px;
}
a:link {
    color: #290202;
}
a:visited {
    color: #e41010;
}
a:hover {
    color: rgb(119, 119, 0);
}