body {
    background-color: rgb(190, 190, 190);
    color: black;
    font-family: Tahoma;
    fon: green; 
}
header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    margin: auto;   
}
p {
    color: rgb(41, 2, 2);
}