<footer>
    <nav>
				
        &#x1F6F9; <a href="../">NAP3 Home Page</a> | 
        <a href="https://github.com/NAP3XD" target="_new">My GitHub Profile</a> | 
        <a href="https://github.com/NAP3XD/npratt3.github.io" target="_new">GitHub.io</a> | 
        <a href="https://www.freecodecamp.org/npratt3" target="_new">FreeCodeCamp</a> | 
        <a href="https://www.codecademy.com/profiles/npratt3" target="_new">Codecademy</a> &#x1F6F9;
    </nav>
    
    <address>Designed by: <a href="https://webpages.charlotte.edu/npratt3/itis3135/prattdesigns.com/">Pratt Designs Co. ©2024</a>
        <a href="https://www.freecodecamp.org/certification/npratt3/responsive-web-design" target="_new">&#11088;<i>Certified in Responsive Web Design</i>&#11088;</a>
    </address>
    <address>SkatePark So Cool...it's ICE cold!</address>
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." >
    </a>
    
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." >
    </a>
</footer>